accelerate==1.6.0
datasets==3.6.0
evaluate==0.4.3
ipykernel==6.29.5
jupyterlab==4.4.2
matplotlib==3.10.3
numpy==1.26.4
pandas==2.2.3
protobuf==5.29.5
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
sentencepiece==0.2.0
torch==2.6.0
tqdm==4.67.1
transformers==4.51.3
